<section class="testimonials">
    <div class="heading" style="height: fit-content;">
        <div style="width: 50%;">
            <h2>Not sure whether to buy from us?</h2>

            <p>
                Here’s what some of our 
                customers have to say about our delicious 
                meals and excellent services.
            </p>
        </div>
    </div>
    <div class="testimonial testimonial-1">
        <div class="img" id="testimonial-1"></div>
        <div class="message">
            <p>
                “Such delicious food delivered at my doorstep 
                without me having to worry. I’m definetely doing this again”
            </p>
            <h3>Fortune Alebiosu</h3>
        </div>
    </div>

    <div class="testimonial">
        <div class="img" id="testimonial-2"></div>
        <div class="message">
            <p>
                “MunchTown’s calorie counter allowed me to keep track of 
                my calorie intake, while enjoying delicious food. Simply Spectacular”
            </p>
            <h3>David Smith</h3>
        </div>
    </div>
</section>
