/* You can add global styles to this file, and also import other style files */
:root{
    --light-theme: #F6EAD4;
    --dark-theme: #091327;
    --orange: #FB7B04;
    --white: #FFF;
    --white-alt: #f9f9f9;
    --black: #000;
    --dark-theme-alt: #1B2437;
}

/* Custom fonts */
@font-face {
    font-family: 'Nunito';
    src: url('./assets/fonts/Nunito-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('./assets/fonts/Nunito-SemiBold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('./assets/fonts/NunitoSans-Light.ttf');
    font-weight: lighter;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('./assets/fonts/NunitoSans-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('./assets/fonts/NunitoSans-SemiBold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Regular.ttf');
    font-weight: normal;
}

/* Custom scrollbar */
::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-track{
    background: #1B2437;
}

::-webkit-scrollbar-thumb{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background: var(--orange);
}
