<app-navbar></app-navbar>
<main>
    <section class="landing" id="landing">
        <div class="text">
            <h1>It's not just food,<br> 
                it's <span class="animate-text animate__fadeInDown">{{selectedWord}}</span>
            </h1>

            <button class="btn btn-lg btn-primary">
                EXPLORE
                <!--Right arrow icon-->
            </button>
        </div>
        <div class="img-landing">
            <img src="assets/images/landing.jpg" alt="food">
        </div>
    </section>

    <section style="margin-top: 60px;" class="recipes" id="recipes">
        <div class="header">
            <h2>These are everyone's favourites</h2>
            <p>Explore More Recipes</p>
        </div>

        <div class="cards">
            <card *ngFor="let item of foodItems" [item]="item"></card>
        </div>
    </section>

    <section class="instruction-section">
        <div class="header">
            <h2>Don't know how to order?</h2>
        </div>

        <div class="instructions">
            <div>
                <fa-icon [icon]="burger"></fa-icon>
                <p>
                    Select the food 
                    item you want to order, along with the quantity.
                </p>
            </div>
    
            <div>
                <fa-icon [icon]="pin"></fa-icon>
                <p>
                    Enter the address of      
                    where you want the food to be delivered to.
                </p>
            </div>

            <div>
                <fa-icon [icon]="card"></fa-icon>
                <p>
                    Pay for your food via our 
                    secure payment platform. 
                </p>
    
            </div>
        </div>

    </section>
    
    <app-testimonials></app-testimonials>
    
</main>
<app-fab></app-fab>
<footer>
    <h4>©2021 MunchTown Foods</h4>
    <ul class="footer-links">
        <li class="social">
            <i class="fas fa-phone"></i>
        </li>
        <li class="social">
            <i class="fas fa-envelope"></i>
        </li>
        <li class="social">
            <i class="fab fa-facebook"></i>
        </li>
        <li class="social">
            <i class="fab fa-instagram"></i>
        </li>
        <li class="social">
            <i class="fab fa-twitter"></i>
        </li>
        <li class="social">
            <i class="fab fa-youtube"></i>
        </li>
    </ul>

    <ion-icon name="facebook"></ion-icon>

</footer>

