<header>
    <nav>
        <h1>Munch<span class="logo">Town</span></h1>
        
        <ul class="links">
            <li class="item">
                <a href="index.html" style="color: var(--orange);">Home</a>
            </li>
            <li class="item">
                <a href="products.html">Products</a>
            </li>
        </ul>

        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>

        <div class="btn-cart">
            <i class="fas fa-cart"></i>
        </div>
    </nav>
</header>
<main>
    <section class="landing" id="landing">
        <div class="text">
            <h1>It's not just food,<br> 
                it's <span class="animate-text"></span>
            </h1>

            <button class="btn btn-lg btn-primary">
                EXPLORE
                <!--Right arrow icon-->
            </button>
        </div>
        <div class="img-landing">
            <img src="assets/images/landing.jpg" alt="food">
        </div>
    </section>

    <section style="margin-top: 60px;" class="recipes" id="recipes">
        <div class="header">
            <h2>These are everyone's favourites</h2>
            <p>Explore More Recipes</p>
        </div>
        <div class="cards">
            <div class="card">
                <img src="assets/images/steak-fries.jpg">
                <div class="card-content">
                    <h2 class="food-name">
                        Classic BBQ Steak with Fries
                    </h2>
                    <div class="card-actions">
                        <h3 class="price">
                            <span>&#8358;</span> 5,500
                        </h3>
                        <span class="actions">
                            <i class="far fa-heart" id="btn-like"></i>

                            <button class="btn btn-primary btn-sm" id="btn-add">
                                <i class="fas fa-cart-plus"></i>                                
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="assets/images/burger.jpg">
                <div class="card-content">
                    <h2 class="food-name">
                        Full Burger with quarter ounce Fries
                    </h2>
                    <div class="card-actions">
                        <h3 class="price">
                            <span>&#8358;</span> 3,000
                        </h3>
                        <span class="actions">
                            <i class="far fa-heart" id="btn-like"></i>

                            <button class="btn btn-primary btn-sm">
                                <i class="fas fa-cart-plus"></i>                                
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="assets/images/waffles.jpg">
                <div class="card-content">
                    <h2 class="food-name">
                        Glazed Waffles with Fruit Toppings
                    </h2>
                    <div class="card-actions">
                        <h3 class="price">
                            <span>&#8358;</span> 2,700
                        </h3>
                        <span class="actions">
                            <i class="far fa-heart" id="btn-like"></i>

                            <button class="btn btn-primary btn-sm">
                                <i class="fas fa-cart-plus"></i>                                
                            </button>
                        </span>
                    </div>
                </div>
            </div>



        </div>
    </section>

    <section>

    </section>

    <section class="testimonials">
        <div class="testimonial testimonial-1">
            <div class="img" id="testimonial-1"></div>
            <div class="message">
                <p>
                    “Such delicious food delivered at my doorstep 
                    without me having to worry. I’m definetely doing this again”
                </p>
                <h3>Fortune Alebiosu</h3>
            </div>
        </div>

        <div class="testimonial">
            <div class="img" id="testimonial-2"></div>
            <div class="message">
                <p>
                    “MunchTown’s calorie counter allowed me to keep track of 
                    my calorie intake, while enjoying delicious food. Simply Spectacular”
                </p>
                <h3>David Smith</h3>
            </div>
        </div>
    </section>

    
</main>
<footer>
    <h4>©2021 MunchTown Foods</h4>
    <ul class="footer-links">
        <li class="social">
            <i class="fab fa-facebook"></i>
        </li>
        <li class="social">
            <i class="fab fa-instagram"></i>
        </li>
        <li class="social">
            <i class="fab fa-twitter"></i>
        </li>
        <li class="social">
            <i class="fab fa-youtube"></i>
        </li>
    </ul>

</footer>

